*,*::after ,*::before{
    margin: 0;
    box-sizing:border-box;

}
html{
    font-size: 63%;
}
body{
    font-size: 1.6rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: wheat;
}
.movies{
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
.nav_menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    color: black;
}
.nav_toggler div{
    width:3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: black;

}
.nav_toggler{
    cursor: pointer;
    display: none;
}
@media screen and (max-width:770px){
    .nav_toggler{
        display: block;
    }
    .nav_menu{
        position: fixed;
        top:7vh;
        right: 0;
        width: 50%;
        height: 93vh;
        background: wheat;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    
}
